<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br />

  <div class="form-group">
    <label for="nlgInputArea">Begin with some words</label>
    <textarea
      #meditationInput
      [value]="text"
      class="form-control"
      id="nlgInputArea"
      rows="10"
    ></textarea>
  </div>

  <button
    type="button"
    class="btn btn-light"
    (click)="generate(meditationInput.value)"
  >
    Meditate
  </button>
</ion-content>
